[client]

port = 3306
socket  = /run/mysqld/mysqld.sock

[mysql]
default-character-set=utf8

#configuration category
[mysqld]

#folder stocking data base:
datadir = /var/lib/mysql

#path to find socket to communicate
socket  = /run/mysqld/mysqld.sock

#all ip can connect
bind_address=*

#port = 3306

user = mysql
					
